{% extends 'pages/base.html' %}

{% block title %}
    Lession 7 - My Blog
{% endblock %}

{% block content %}
    {% for post in Posts %}
        <!-- <h4>{{post.date|date:"d-m-Y"}} <a href="/blog/{{post.id}}">{{post.title}}</a></h4> -->
        <article class="media content-section">
            <div class="article-metadata">
            <!-- <a class="mr-2" href="#">{{ post.author }}</a> -->
            <small class="text-muted">{{ post.date }}</small>
            </div>
            <h2><a class="article-title" href="/blog/{{post.id}}">{{ post.title }}</a></h2>
            <!-- <p class="article-content">{{ post.content }}</p> -->
        </article>
    {% endfor %}
{% endblock %}