{% extends 'pages/base.html' %}

{% block title %}
    My Blog
{% endblock %}

{% block content %}
    <!-- <a class="mr-2" href="#">{{ post.author }}</a> -->
    <!-- {{post.date|date:"d-m-Y"}} -->
    {% for post in Posts %}
        <article class="media content-section">
            <div class="article-metadata">
            <small class="text-muted">{{ post.date }}</small> 
            </div>
            <div class="blog-img">
                <h2><a class="article-title" href="/blog/{{post.id}}">{{ post.title }}</a></h2>
                {% if post.image %}
                    <img src="{{ post.image.url }}" width="100px" height="auto" style="margin-left: 20px;">
                {% endif %}
            </div>
        </article>
    {% endfor %}
    <hr>
    {% if page_obj.has_next %}
        <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">Next Page</a>
    {% endif %}
{% endblock %}