{% extends 'pages/base.html' %}

{% block title %}
    {{post.title}}
{% endblock %}

{% block content %}
    <p style="font-size: small;">{{post.date|date:"d-m-Y"}}</p>
    <center><h3>{{post.title}}</h3></center>
    <h6>on {{post.date}} </h6>
    {% if post.image %}
        <img src="{{ post.image.url }}" width="500px" height="auto">
    {% endif %}
    <p class="article-content">{{post.body|safe|linebreaks}}</p>
    <!-- edit post  -->
    <a href="{% url 'edit_post' post.pk %}">+ Edit This Post</a>
    <!-- delete post  -->
    <a href="{% url 'dele_post' post.pk %}">+ Delete This Post</a>
    <hr>

    <!-- display comment  -->
    <p class="comment"><label>Comment:</label></p>
    {% if post.comments.all %}
        {% for comment in post.comments.all %}
            <h4><strong>{{comment.author}}</strong></h4>
            <h6><p>{{comment.date}}</p></h6>
            <p>{{comment.body|linebreaks}}</p>
        {% endfor %}

        <!-- comment those post  -->
        {% if user.username %}
            <form action="{% url 'post' post.id %}" method="POST">
                {% csrf_token %}
                {{form.body}}
                <br/>
                <input type="submit" value="Bình luận"/>
            </form>
        {% else %}
            <p><a href="{% url 'login' %}">Login</a> to post a comment</p>
        {% endif %}
    {% else %}
        {% if user.username %}
            <p>Be the first to comment</p>
            {{form.body}}
                <br/>
                <input type="submit" value="Bình luận"/>
        {% else %}
            <p><a href="{% url 'login' %}">Login</a> to post the first comment</p>
        {% endif %}
    {% endif %}
{% endblock %}