{% extends "pages/base.html" %}

{% load static %}

{% block title %}
Lession 5 - Static File & Bootstrap
{% endblock %}

{% block content %}
	<div class="about-content">
		<div class="about-main">
			<h1>Tổng quan</h1>
			<p style="max-width: 50%;">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea odio, cum voluptates accusamus quos debitis alias impedit. 
				Fugiat illo atque magnam error odit eaque nulla. Eaque, hic nulla! Consequuntur, doloremque.
				Animi vel alias expedita cum culpa officiis ullam harum tempore quidem reprehenderit unde aliquam rerum 
				neque suscipit non iure perferendis itaque in, cumque quo? In cum molestiae dolorum possimus quo.
			</p>
			<h1>Liên hệ</h1>
			<p>
				Fanpage: <a href="http://fb.com/example" target="_blank" rel="noopener noreferrer">http://fb.com/example</a>
				<br>
				Điện thoại: <a href="tel:+84123456789">(+84) 123 456 789</a> 
				<br>
				Email: <a href="mailto:example@gmail.com">example@gmail.com</a>
				<br>
				Youtube: <a href="http://www.youtube.com/@example" target="_blank" rel="noopener noreferrer">http://www.youtube.com/@example</a>
			</p>
		</div>
	</div>
{% endblock %}