{% extends "pages/base.html" %}
{% load static %}

{% block title %}
    Django Blog
{% endblock %}

{% block content %}
    <div class="content-main">
        <div class="home-content">
            <h1>Create an <span class="highlight">account</span> and <span class="highlight">write blog</span> by yourself.</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam saepe modi, 
                quod alias mollitia ea unde, sint, aliquid eum laudantium vitae totam? Aspernatur beatae, 
                voluptatum deserunt incidunt quo quam sed?
            </p>
            <hr>
            <h3>
                Create Your Account
                <a href="{% url 'register' %}" target="_blank" rel="noopener noreferrer"> Here</a>
            </h3>
            <hr>
            <p>
                <span class="highlight">Write</span> your story, <span class="highlight">tell</span> us who you are
                <br>
                <span class="highlight">Share</span> your feelings, your life experience
            </p>
            <hr>
            <p>
                <span class="highlight">Read</span> other people's stories
                <br>
                <span class="highlight">Post</span> your comments
            </p>
        </div>
        <div class="home-banner"></div>
    </div>
{% endblock %}