{% extends "pages/base.html" %}

{% block title %} 
    Register 
{% endblock %}

{% block content %}
    <div class="gradient">
        <div class="height-100 regist-content">
            <div class="wrapper">
                <div class="form-box login">
                    <h2 style="pointer-events: none;">Reset Password</h2>
                    <form action="." method="post">
                        {% csrf_token %}
                        {{form.as_p}}
                        <input type="submit" value="Reset Password" class="btn"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}