{% extends 'pages/base.html' %}

{% block title %}
    Reset Password
{% endblock %}

{% block content %}
    <div class="gradient">
        <div class="height-100 regist-content">
            <div class="wrapper">
                <div class="form-box">
                    <h2 style="pointer-events: none;">Reset Password</h2>
                    <form action="." method="post">
                    {% csrf_token %}
                    {% for key, value in form.errors.items %}
                        {{value}}
                    {% endfor %}
                    <!-- end error  -->

                        <div class="input-box">
                            <i class='bx bxs-user nav-icon' ></i>
                            {{ form.email }}
                            <span class="input-label">{{ form.email.label }}</span>
                        </div>

                        <input type="submit" value="Request Reset Password" class="btn"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}